body {
  font-family: "Helvetica Neue", Helvetica, Ubuntu, Arial, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: #000000;
  font-size: 120%;
}

#background {
  background: #000000 no-repeat center center fixed;
  background-size: cover;
  background-image: url('../images/background.jpg');
  /* Use a blur so we can get away with a lower quality image */
  filter: blur(15px);
  width: 100%;
  height: 100vh;
}

#content {
  padding: 20px;
  width: 60%;
  min-width: 200px;
  max-width: 600px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 10%;
  border-radius: 5px;
  color: #fefefe;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

#content a {
  color: #46d6fd;
}

#content h1 {
  text-align: center;
  font-weight: 100;
  margin-top: 0;
}

#signup {
  text-align: center;
}

#signup label {
  display: none;
}

#signup input {
  background-color: white;
  opacity: 1;
  display: inline;
  padding: 8px;
  font-size: 16px;
}

#signup input[type=text] {
  width: 20%;
}

#signup input[type=submit] {
  margin-top: 15px;
  height: 34px;
  padding: 3px 10px;
  border: 1px solid white;
  background-color: #b450ce;
  color: white;
  cursor: pointer;
}

#details {
  margin-top: 20px;
  font-size: 80%;
}
