<!DOCTYPE html>
<html>
  <head>
      <title>Immersive Web Weekly: Archives</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://fonts.googleapis.com/css?family=Fira+Sans:200,300,400" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="../styles/issue.css" />
  </head>
  <body>
      <div id="container">

      <h1><a href="../">Immersive Web Weekly</a></h1>

      <div class="signup-wrapper">
      <div class="signup">
        <p class="signup-info">A newsletter about immersive experiences, augmented and virtual reality in browsers, and all things WebXR.</p>

        <form action="https://immersivewebweekly.us10.list-manage.com/subscribe/post?u=efa897fefcf4fb9962d181879&amp;id=85f9707432" method="post" target="_blank">
            <div class="field">
                <label for="mce-EMAIL">Email Address </label>
                <input type="email" placeholder="Your email" value="" name="EMAIL" class="email">
            </div>
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_efa897fefcf4fb9962d181879_85f9707432" tabindex="-1" value="">
            </div>
            <button class="submit" type="submit" value="Subscribe" name="subscribe">Subscribe</button>
        </form>
      </div>
      </div>

      <div class="info">Immersive Web Weekly: Archives</div>
      <div id="content">
        <ul id="issues-list">
          {{#each issues}}
            <li>
              <span class="date">{{ date }}</span>
              <h2><a href="./{{issue}}/index.html">Issue #{{ issueNum }}</a></h2>
              {{{ overviewShort }}}
            </li>
         {{/each}}
        </ul>
      </div>

      <div class="signup-wrapper">
      <div class="signup">
        <p class="signup-info">Subscribe to stay in the know!</p>

        <form action="https://immersivewebweekly.us10.list-manage.com/subscribe/post?u=efa897fefcf4fb9962d181879&amp;id=85f9707432" method="post" target="_blank">
            <div class="field">
                <label for="mce-EMAIL">Email Address </label>
                <input type="email" placeholder="Your email" value="" name="EMAIL" class="email">
            </div>
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_efa897fefcf4fb9962d181879_85f9707432" tabindex="-1" value="">
            </div>
            <button class="submit" type="submit" value="Subscribe" name="subscribe">Subscribe</button>
        </form>
      </div>
      </div>
    </div>
  </body>
</html>